extends layout

block content
  h1= title
  a(href="/new") Add a Message
  ul
    each val in messages
      li 
        p= val.user 
        p= 'Message: ' + val.text
        p= val.added
        br
